# Ignorer le dossier node_modules (dépendances)
node_modules/

# Ignorer le dossier source (qui contient le code source non obfusqué)
src/

# Ignorer le fichier .env (qui contient des informations sensibles)
.env

# Ignorer le vrai fichier config.json (on garde uniquement config.dist.json)
config.json

# ignorer des truc inutile
CMD-DE-MISE-A-JOUR.txt
config.dist.json
.env.example

# Autoriser Git à suivre le dossier dist (tous les fichiers et sous-dossiers dans dist/)
!dist/
!dist/config.json
!dist/.env
