# Ignorer le dossier node_modules (dépendances)
node_modules/

# Ignorer le dossier source (qui contient le code source non obfusqué)
src/

# Ignorer le fichier .env (qui contient des informations sensibles)
.env

# Autoriser Git à suivre le dossier dist (tous les fichiers et sous-dossiers dans dist/)
!dist/